    <!-- Intro Header -->
    <!-- <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <div class="logo">
                    <img src="img/logo/sotm_2024.png">
                    <a href="#about" class="btn btn-circle page-scroll page-scroll-silent">
                        <i class="icon big down animated"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="credits">
          Developed by:  <a href="https://arahmandc.github.io/">Atikur Rahman</a> ©  (<a href="https://boiledbhoot.org/">BOIL</a>)
        </div>
    </header> -->

     <!-- Intro Header -->
     <header class="intro">
      <!-- <div class="intro-body">
          <div class="limiter">
              <div class="center">
                  <div class="col12">
                      <div class="col4 margin4 margin4r">
                          <div class="aizu-logo" style="float: right;">
                           <img src="img/logo/sotm_2024.png" height="985" width="1517"/>
                          </div>
                      <a href="#about" class="btn btn-circle page-scroll">
                          <i class="icon big down animated"></i>
                      </a>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <div class="credits">
          Developed by:  <a href="https://arahmandc.github.io/">Atikur Rahman</a> ©  (<a href="https://boiledbhoot.org/">BOIL</a>)
        </div>
  </header>
