    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <div class="logo">
                    <img src="img/logo/sotm_2024.svg">
                    <a href="#about" class="btn btn-circle page-scroll page-scroll-silent">
                        <i class="icon big down animated"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="credits">
          Developed by: Atikur Rahman &mdash; <a href="https://arahmandc.github.io/">Background</a>: © BOIL (<a href="https://boiledbhoot.org/">Unsplash License</a>)
        </div>
    </header>
